In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('la_dodgers_baseball.csv')

In [8]:
df.head(20)

   number             name  B/T height  weight birthdate
0      75  Scott Alexander  L/L    6'2     190   7/10/89
1      52       Pedro Baez  R/R    6'0     230   3/11/88
2      21   Walker Buehler  R/R    6'2     175   7/28/94
3      47      JT Chargois  S/R    6'3     200   12/3/90
4      54    Tony Cingrani  L/L    6'4     214    7/5/89
5      64   Caleb Ferguson  R/L    6'3     215    7/2/96
6      46      Josh Fields  R/R    6'0     195   8/19/85
7      51      Dylan Floro  L/R    6'2     205  12/27/90
8      63      Yimi Garcia  R/R    6'1     220   8/18/90
9      62     Erik Goeddel  R/R    6'3     191  12/20/88
10      —  Ariel Hernandez  R/R    6'4     230    3/2/92
11     44        Rich Hill  L/L    6'5     220   3/11/80
12     41    Daniel Hudson  R/R    6'3     225    3/9/87
13     74    Kenley Jansen  S/R    6'5     275   9/30/87
14     22  Clayton Kershaw  L/L    6'4     228   3/19/88
15     55      Tom Koehler  R/R    6'3     235   6/29/86
16     36  Adam Liberatore  L/L    6'3     243   5/12/87
17     18      Kenta Maeda  R/R    6'1     175   4/11/88
18     58   Edward Paredes  L/L    6'0     180   9/30/86
19     99     Hyun-Jin Ryu  R/L    6'3     250   3/25/87

In [5]:
df.number.apply(lambda x: int(x))

ValueError: invalid literal for int() with base 10: '—'

In [18]:
df[df['name'] == 'Ariel Hernandez'].number.tolist()[0]

str

In [ ]:
def fixit():
    return 0